body {
	font-size: 20px;
	line-height: 1.4;
}

.text-window {
	width: 310px;
}

@media (min-width: 480px) {
    .text-window {
        width: 400px;
    }
}

.hidden {
    display: none;
}

.illustration {
    max-width: 100%;
    margin: 0;
}


.slogan {
    font-size: 100px;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    text-align: center;
    word-break: break-all;
    position: absolute;
    z-index: -1;

    -webkit-animation: play .2s infinite;
    -moz-animation: play .2s infinite;
    -ms-animation: play .2s infinite;
    animation: play .2s infinite;
}

@-webkit-keyframes play {
    0%, 100% { color: deeppink; }
    50% { color: black; }
}

@-moz-keyframes play {
    0%, 100% { color: deeppink; }
    50% { color: black; }
}

@-ms-keyframes play {
    0%, 100% { color: deeppink; }
    50% { color: black; }
}

@keyframes play {
    0%, 100% { color: deeppink; }
    50% { color: black; }
}
