html, body, #content, .app {
	height: 100%;
	margin: 0 1em;
	padding: 0;
}

body {
	font-family: Inconsolata, monospace;
	-webkit-font-smoothing: none;
	font-size: 16px;
}

.textWindow {
	height: 80%;
	width: 35%;
	border: 1px solid #000bff;
	padding: 1em;
	float: left;
	margin-right: 1em;
	overflow: auto;
	position: relative;
}

.textWindow span {
	display: block;
	margin-bottom: 1em;
}

button, a {
	border: 0;
	background: #000bff;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	text-align: left;
}

button:hover, a:hover {
	background: transparent;
	color: #000bff;
}

button:focus, a:focus {
	background: red;
	color: #fff;
	-webkit-appearance: none;
	outline: 0;
}

li {
	list-style: none;
}

.itemList {
	/*position: fixed;*/
}

.itemList, .itemList li {
	display: inline;
	margin: 0;
	padding: 0;
}

.itemList li:after {
	content: ', ';
}

.itemList li:last-child:after {
	content: '';
}

.itemList.inventory {
	float: left;
	width: 150px;
	min-height: 1px;
	border: solid 1px #000bff;
	margin-right: 1em;
}

.itemList.inventory:empty {
	border: 0;
}

.itemList-title.scene {
	display: none;
}


