.textWindow {
	height: 200px;
	width: 300px;
	border: 1px solid #000bff;
	padding: 1em;
	float: left;
	margin-right: 1em;
	overflow: auto;
}

button, a {
	border: 0;
	background: #000bff;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

button:hover, a:hover {
	background: transparent;
	color: #000bff;
}

li {
	list-style: none;
}
